<% @users.each  do |user| %>
  <div>
    <img src="<%= user.photo%>" alt="photo"/>
  <%= link_to  user  do %>
  <h2><%= user.name %></h2>
  <% end %>
  <span>Number of posts: <%= user.postscounter %></span>
  </div> <br>

<% end %>
