<% @users.each  do |user| %>
  <div>
   <img src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0=" alt="photo"/>
  <%= link_to  user  do %>
  <h2><%= user.name %></h2>
  <% end %>
  <span>Number of posts: <%= user.postscounter %></span>
  </div> <br>
<% end %>
